.container{
    margin: 0;
    padding: 0;
}
.item{
    background-color: aqua;
    font-size:14px;
    font-style: italic;
    font-weight: bold;
}
ul .list{
    list-style-image: none;
    background-color: aquamarine;
}